div, span {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: block;
    justify-content: center;
}

span {
    font-size: large;
}

span#instructions {
    font-weight: bold;
}

div.bottom {
    margin-left: 45%;
    position: fixed;
    bottom: 0;
}

video {
    /* Mirror the local sourceVideo */
    transform: scale(-1, 1);            /*For Firefox (& IE) */
    -webkit-transform: scale(-1, 1);     /*for Chrome & Opera (& Safari) */
    /*width: 640px;
    height: 360px;*/
}

canvas {
    z-index:0;
    transform: scale(-1, 1);            /*For Firefox (& IE) */
    -webkit-transform: scale(-1, 1);     /*for Chrome & Opera (& Safari) */
    /*width: 640px;
    height: 360px;*/

}
