div {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: block;
    justify-content: center;
}

video {
    top: 0;
    left: 0;
    z-index: -1;
    /* Mirror the local sourceVideo */
    transform: scale(-1, 1);            /*For Firefox (& IE) */
    -webkit-transform: scale(-1, 1);     /*for Chrome & Opera (& Safari) */
    width: auto;
    height: auto;
}

canvas {
    display: inline-block;
    top: 0;
    left: 50%;
    z-index:0;
    transform: scale(-1, 1);            /*For Firefox (& IE) */
    -webkit-transform: scale(-1, 1);     /*for Chrome & Opera (& Safari) */

}
